body{
  background-color: white;
  margin: 0 auto;
}

main{
  width: 98%;

  border: 1px solid blue;
  margin: 10px auto;
  background-color: #BEC8CC;
}

.background{
  text-align: center;
  border: 1px solid green;
  margin: 0em 0.2em 4em 0.2em;
  padding: 1em 0em 2.5em 0em;

}

div{
  font-size: 2.5em;
  font-weight: bold;
}
