/**************************/
/*        NEW GAME PAGE        */

.NewGame{
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}


.choice-container{
  display: inline-block;
  font-size: 2em;
  text-align: center;
  margin-left: 33%;
}

.NewGame.tossing{
  animation-name: tossing;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

a{
  text-decoration: none;
  color: black;
}


.easy{
  transform: perspective(220px) rotateY(-15deg);
  margin-top: 60px;
  border: 3px solid #14171A;
  padding: 8px 150px 8px 150px;
}

.easy:hover {
  background: white;
}


.hard{
  transform: perspective(220px) rotateY(15deg);
  margin-top: 60px;
  border: 3px solid #14171A;
  padding: 8px 150px 8px 150px;
}

.hard:hover{
  background: #77797A;
}




/**********************************/
/**    MEMORY GAME BODY          **/
body{
  max-width: 100%;
  background-color: #C1C7C7;
}




/**********************************/
/**     BACKGROUND OF PAGE      **/

.background{
  margin: 0% 2% 4% 8%;
}




/***********************************/
/**       HEADER             **/

.header{
  margin-bottom: 0.5em;
}


.header-font {
  font-family: Lato, Verdana sans-serif;
  font-size:  6em;
  text-align: center;
  margin-top: 0.2em;
  margin-right: 0.2em;
  padding-right: 0.5em;

  color: black;
}

i.fa.fa-question-circle-o{
  background-color: white;
  border-radius: 15px;
  font-size: 1em;
}




/****************************/
/**   HEARTS      **/

li{
  display: inline-block;
  margin-top: 6px;
  color: black;
}




/****************************/
/**         TIME          **/
.time{
  color: black;
  font-weight: bold;
  font-size: 1em;
  padding-left: 63em;
}




/*******************************/
/**     CARD  SECTION         **/

section{
  margin: 0% 2% 4% 8%;
}



/********************************/
/** DISPLAYED BOXES (CARDS) BEFORE THE FLIP **/
#box{
 display:inline-block;
 width: 11em;
 height: 11em;
 /*background: #0D313D;*/
 /*border-radius: 15px;*/
}


/*#box:hover {
  -webkit-transition-property: background, border-radius;
  transition-duration: 1s;*/
  /*border-radius: 15px;
}*/



/*************************************
/**       CARD DISPLAY   **/


.card{
  display: inline-block;
  position: absolute;
  text-align: center;
  color: white;
  width: 11em;
  height: 11em;
  background: #141414;
  transition: background 1s, transform 1s;
  border-radius: 15px;
  margin: 1px;
  cursor: pointer;
}




input{
  width: 11em;
  height: 11em;
  display: none;
}


/*      FLIP  COMMAND         */
input:checked +.card{
  background: #545657;
  transform: rotateY(180deg);
}




/******  Individual cards   *****/
/*          1ST PAIR            */
input:checked +.card .hands{
  opacity: 1;
  transition-delay: .5s;
}

.hands{
  /*position: absolute;*/
  margin: 4em auto;
  /*margin-top: 85px;
  margin-left: 15px;*/
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*      2ND  PAIR    */
input:checked +.card .go-right{
  opacity: 1;
  transition-delay: .5s;
}


.go-right{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*    3RD  PAIR   */
input:checked +.card .spock{
  opacity: 1;
  transition-delay: .5s;
}


.spock{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*   4TH  PAIR */
input:checked +.card .thumbs-up{
  opacity: 1;
  transition-delay: .5s;
}


.thumbs-up{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*   5TH  PAIR  */
input:checked +.card .thumbs-down{
  opacity: 1;
  transition-delay: .5s;
}


.thumbs-down{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*   6TH  PAIR  */
input:checked +.card .stop{
  opacity: 1;
  transition-delay: .5s;
}


.stop{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*   7TH  PAIR   */
input:checked +.card .go-left{
  opacity: 1;
  transition-delay: .5s;
}


.go-left{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*   8TH  PAIR   */
input:checked +.card .fist{
  opacity: 1;
  transition-delay: .5s;
}


.fist{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}



/*   9TH  PAIR  */
input:checked +.card .hand-lizard{
  opacity: 1;
  transition-delay: .5s;
}


.hand-lizard{
  margin: 4em auto;
  opacity: 0;/*  creates transparency, i.e.invisiblish */
}
